<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
    <title>Todo App with Angular and Firebase</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style>
        .completed {
            text-decoration: line-through;
        }
        [ng-cloak] {
            display: none;
        }
        .navbar-todo {
            width: 100%;
        }
        .remove {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="container" ng-controller="TodoController">
        <div class="navbar navbar-inverse">
            <div class="container">
                <a href="#" class="navbar-brand">Todo Application</a>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form" ng-submit="addTodo()">
                <div class="form-group">
                    <label for="NewTodo" class="col-sm-2 control-label sr-only">New Todo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="NewTodo" placeholder="What needs to be done?" ng-model="newTodo">
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="totalCount" ng-cloak>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="navbar navbar-default">
                    <span class="navbar-brand">
                        <strong>{{remainingCount}}</strong>
                        <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                    </span>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".nav-header-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse nav-header-collapse  navbar-todo">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{active: isActive('/')}"><a href="#/">All</a></li>
                            <li ng-class="{active: isActive('/active')}"><a href="#/active">Active</a></li>
                            <li ng-class="{active: isActive('/completed')}"><a href="#/completed">Completed</a></li>
                        </ul>
                    </div>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" ng-model="allCompleted" ng-click="markAll(allCompleted)" /></th>
                            <th class="text-center">Todo Title</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(id, todo) in todos | todoFilter">
                            <td><input type="checkbox" ng-hide="todo == editedTodo" ng-model="todo.completed" ng-change="todos.$save(id)" /></td>
                            <td ng-dblclick="editTodo(id)">
                                <span ng-hide="todo == editedTodo" ng-class="{completed: todo.completed}">{{todo.title}}</span>
                                <form class="form-horizontal" role="form" ng-submit="doneEditing(id)" ng-show="todo == editedTodo">
                                    <div class="form-group">
                                        <label for="EditTodo" class="control-label sr-only">New Todo</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="EditTodo" ng-model="todo.title" todo-escape="revertEditing(id)" todo-blur="doneEditing(id)" todo-focus="todo == editedTodo">
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td><a class="remove" ng-click="removeTodo(id)" ng-hide="todo == editedTodo"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>


    </div>

    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angularfire.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TodoController.js"></script>
    <script src="js/directives/todoBlur.js"></script>
    <script src="js/directives/todoEscape.js"></script>
    <script src="js/directives/todoFocus.js"></script>
</body>
</html>
